td {
	text-align: left;
}

td.tituloDetalhe {
	text-align: right;
}

div.error {
	margin-top: 20px !important;
	padding: 5px !important;
	left: 10%;
	right: 10%;
	width: 80%;
}

.margin-top {
	margin-top: 20px;
}

.margin-top-60 {
	margin-top: 60px;
}

ul.feedbackPanel {
	list-style-type: none;
}

div ul.feedbackPanel li {
	margin: 5px;
}

div ul.feedbackPanel li p {
	display: inline-block;
	vertical-align: middle;
}

.detalhes
{
	text-align: left !important;
}